// Base
@use 'base/reset';
@use 'base/typography';
@use 'base/fonts';
@use 'base/utilities';
@use 'base/form';
@use 'base/form-normalize';


@use 'pages/auth.scss';
@use 'pages/error.scss';
@use 'pages/welcome.scss';
@use 'pages/dashboard.scss';
@use 'pages/profile.scss';

@use 'components/table.scss';
@use 'components/admin-form.scss';
@use 'components/admin-dropdown.scss';
@use 'components/admin-checkbox-with-label.scss';
@use 'components/action-buttons.scss';
@use 'components/admin-nav-breadcrumbs.scss';
@use 'components/course-schedule.scss';
@use 'components/sub-header.scss';
@use 'components/header.scss';
@use 'components/editable-image.scss';
@use 'components/phone-field.scss';
@use 'components/role-badge.scss';
@use 'components/subject-badge.scss';
@use 'components/event-type-badge.scss';
@use 'components/school-shift-badge.scss';
@use 'components/school-level-badge.scss';
@use 'components/management-type-badge.scss';
@use 'components/gender-badge.scss';
@use 'components/diagnosis-category-badge.scss';
@use 'components/email-field.scss';
@use 'components/student-guardian.scss';
@use 'components/course-popover.scss';
@use 'components/course-export-popover.scss';
@use 'components/schedule-simple.scss';
@use 'components/schools-roles-card.scss';
@use 'components/calendar-panel.scss';
@use 'components/worker-information.scss';
@use 'components/data-field-show.scss';
@use 'components/auth-form.scss';
@use 'components/attendance-day-edit.scss';