@use "../abstracts/mixins";
@use "../abstracts/variables";

// Auth page styles

.auth {
    &__description {
        margin-bottom: 1rem;
        @include mixins.fz(1.5);
        @include mixins.lh(1.5);
        color: variables.$color-grey-dark;
    }

    &__status {
        margin-bottom: 1rem;
        @include mixins.fz(1.5);
        @include mixins.lh(1.5);
        font-weight: variables.$font-normal-weight;
        color: variables.$color-yellow;
    }

    &__form {
        // Form container styles
    }

    &__link {
      @include mixins.fz(1.5);
      @include mixins.lh(1.5);

    }

    &__field {
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1rem;
        gap: 1rem;
    }
}
