@use "../abstracts/mixins";
@use "../abstracts/variables";
@use "sass:color";

.admin-nav-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 2.5rem;
  padding: 0.5rem 1rem;
  color: variables.$color-grey-dark;
  text-decoration: none;
  border-radius: 0.375rem;
  transition: all 0.15s ease-in-out;
  @include mixins.fz(1.8);
  @include mixins.lh(1.8);

  &:hover {
    color: variables.$color-text;
    background-color: variables.$color-grey;
  }

  &--active {
    color: variables.$color-brand;
    background-color: color.scale(variables.$color-brand, $lightness: 70%);
  }
}