@use "../abstracts/mixins";
@use "../abstracts/variables";

.admin-nav-breadcrumbs {
    @include mixins.fz(1.5);
    @include mixins.lh(1.5);
    color: variables.$color-grey-dark;
    margin-bottom: 0;

    &__list {
        margin: 0 0 2rem 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
    }

    &__item {
        display: flex;
        align-items: center;
        margin: 0;

        &:not(:last-child)::after {
            content: '/';
            margin: 0 0.5rem;
            color: variables.$color-grey-dark;
        }
    }

    &__link {
        color: variables.$color-brand;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

        &:focus {
            color: variables.$color-brand;
        }
    }

    &__text {
        color: variables.$color-grey-dark;
    }
}
