@use "../abstracts/mixins";
@use "../abstracts/variables";

@use "sass:color";
// Admin Button Components

.button {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: 0.375rem;
  font-weight: 600;
  @include mixins.fz(1.2);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: all 0.15s ease-in-out;
  cursor: pointer;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px variables.$color-brand;
  }

  &--primary {
    background-color: variables.$color-brand;
    color: white;

    &:hover {
      background-color: color.scale(variables.$color-brand, $lightness: -10%);
    }

    &:focus {
      background-color: color.scale(variables.$color-brand, $lightness: -10%);
      box-shadow: 0 0 0 2px color.scale(variables.$color-brand, $lightness: 20%);
    }

    &:active {
      background-color: color.scale(variables.$color-brand, $lightness: -20%);
    }

    &--processing {
      opacity: 0.25;
      cursor: not-allowed;
    }
  }

  &--danger {
    background-color: variables.$color-ko;
    color: white;

    &:hover {
      background-color: color.scale(variables.$color-ko, $lightness: 10%);
    }

    &:focus {
      box-shadow: 0 0 0 2px color.scale(variables.$color-ko, $lightness: 20%);
    }

    &:active {
      background-color: color.scale(variables.$color-ko, $lightness: -20%);
    }
  }

  &--secondary {
    background-color: white;
    border-color: variables.$color-grey-dark;
    color: variables.$color-text;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

    &:hover {
      background-color: variables.$color-grey;
    }

    &:focus {
      box-shadow: 0 0 0 2px variables.$color-brand;
    }

    &:disabled {
      opacity: 0.25;
    }
  }
}