@use "../abstracts/mixins";
@use "../abstracts/variables";

@use "sass:color";
// Admin Misc Components

.email-field {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &__text {
    margin-top: 0.25rem;
    @include mixins.fz(1.5);
    color: variables.$color-text;
    margin: 0;
  }

  &__email {
    cursor: pointer;
    transition: color 0.2s ease;

    &:hover {
      color: color.scale(variables.$color-brand, $lightness: -20%);
    }
  }

  &__placeholder {
    color: variables.$color-grey-dark;
  }

  &__link {
    color: variables.$color-brand;
    transition: color 0.2s ease;
    @include mixins.lh(0);

    &:hover {
      color: color.scale(variables.$color-brand, $lightness: -20%);
    }
  }

  &__icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}
