// Admin Checkbox With Label Component

.checkbox-with-label {
  margin: 10px 0 8px;
  display: flex;
  align-items: center;
  cursor: pointer;

  &__text {
    margin-left: 0.5rem;
    @include fz(1.5);
    color: $color-text;
  }
}
