@use "../abstracts/mixins";
@use "../abstracts/variables";

@use "sass:color";

// Buttons component

// Button base class with BEM modifiers
.btn {
    color: white;
    font-weight: 500; // font-bold
    @include mixins.fz(1.5);
    @include mixins.lh(2);
    padding: 10px 15px;
    transition: background-color 0.15s ease-in-out;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
