@use "../abstracts/mixins";
@use "../abstracts/variables";

// Admin Header Layout Utilities
.mll-header {
    & &__right {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    & &__toolbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    & &__logo {
        margin: 0;
    }

    & &__title {
        display: none;

        @include mixins.mq(sm) {
            display: block;
        }
    }

    & &__tabs {
        display: none;

        @include mixins.mq(xs) {
            display: block;
        }
    }

    & &__user {}
}


.mll-sidebar {
    & &__side-item {

        &--only-sm {
            display: block;

            @include mixins.mq(sm) {
                display: none;
            }
        }
    }
}