@use "../abstracts/mixins";
@use "../abstracts/variables";

.language-switcher {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &__button {
    padding: 0.25rem 0.5rem;
    border: 1px solid variables.$color-grey-dark;
    border-radius: 0.25rem;
    background: none;
    cursor: pointer;
    @include mixins.fz(1.5);

    &:hover {
      background-color: variables.$color-grey;
    }

    &--active {
      background-color: variables.$color-brand;
      color: white;
      border-color: variables.$color-brand;
    }
  }
}