@use "../abstracts/mixins";
@use "../abstracts/variables";
@use "sass:color";

.shift-badge {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  @include mixins.fz(1.2);
  font-weight: variables.$font-normal-weight;
  border-radius: 0.25rem;

  &--morning {
    background-color: color.scale(variables.$color-brand, $lightness: 45%);
    color: color.scale(variables.$color-brand, $lightness: -20%);
  }

  &--afternoon {
    background-color: color.scale(variables.$color-purple, $lightness: 45%);
    color: color.scale(variables.$color-purple, $lightness: -20%);
  }

  &--evening {
    background-color: color.scale(variables.$color-terciary, $lightness: 45%);
    color: color.scale(variables.$color-terciary, $lightness: -20%);
  }
}