@use "../abstracts/mixins";
@use "../abstracts/variables";

// Admin Header Layout Utilities
.mll-sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & &__content {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 5px 0;
    }

    & &__title-and-buttons {
        display: flex;
        align-items: center;
        width: 100%;
        flex-direction: column;
        align-items: stretch;
        max-width: 100%;
        flex-basis: 100%;

        @include mixins.mq(sm) {
            flex-direction: row;
        }
    }

    & &__title {
        margin: 0;
        display: flex;
        align-items: center; // Vertically center text/content
        @include mixins.fz(2.6);
        @include mixins.lh(2.6);

        white-space: normal;
        @include mixins.mq(sm) {
            white-space: normal;
        }
    }

    & &__actions {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        margin-top: 5px;
        gap: 0.5rem; // space-y-2

        &--more {
            margin-top: 10px;
            padding-top: 10px;
            border-top: 1px solid variables.$color-grey-dark;
        }

        @include mixins.mq(sm) {
            // md: breakpoint
            margin-top: 0;
            margin-left: 20px;
            flex-direction: row;
            gap: 1rem; // md:space-x-4

            // Reset vertical spacing on md+
            >* {
                margin-top: 0;
                margin-bottom: 0;
            }

            &--more {
                padding-top: 15px;
                margin: 15px 0;
            }
        }
    }
}