@use "../abstracts/mixins";
@use "../abstracts/variables";

// Header layout
// Page subtitle
.page-subtitle {
    @include mixins.fz(3);
    @include mixins.lh(3);
    font-weight: 600;
}

// Admin Header Layout Utilities
.admin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__content {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    &__title-and-buttons {
        display: flex;
        flex-direction: row;

    }

    &__title {
        max-width: 80%;
        flex-shrink: 0;
        margin: 0;
    }

    &__actions {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        gap: 0.5rem; // space-y-2

        @media (min-width: 768px) {
            // md: breakpoint
            margin-left: 20px;
            flex-direction: row;
            gap: 1rem; // md:space-x-4

            // Reset vertical spacing on md+
            >* {
                margin-top: 0;
                margin-bottom: 0;
            }

            &--more {
                border-top: 1px solid variables.$color-grey-dark;

                padding-top: 15px;
                margin: 15px 0;
            }
        }
    }
}