@use "../abstracts/mixins";
@use "../abstracts/variables";

html {
    box-sizing: border-box;
    font-size: 62.5%;
    text-size-adjust: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.web-content {
    overflow: hidden;
}

body {
    padding: 0;
    margin: 0;
    position: relative;
    @include mixins.fz(2.2);
    @include mixins.lh(2.2);
    font-weight: variables.$font-normal-weight;
    font-family: variables.$font-family;
    color: variables.$color-text;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    -webkit-user-drag: none;
    -ms-content-zooming: none;
    touch-action: manipulation;

    text-size-adjust: none;
    // user-select: none;
    background-color: #fff;

    @include mixins.mq(md) {
        @include mixins.fz(2.2);
        @include mixins.lh(2.4);
    }
}

ul {
    margin: 10px 0 0 5px;

    li {
        margin: 0 0 2px 5px;
    }
}

//Reset unwanted styles from Quasar
.q-layout .q-page {
    // min-height: auto !important;
}

.q-expansion-item .q-item__section--avatar {
    min-width: 24px;
    padding-right: 8px;

    @include mixins.mq(sm) {
        min-width: 30px;
        padding-right: 5px;
    }
}

.q-item.q-item--clickable {
    padding: 8px 4px;

    @include mixins.mq(sm) {
        padding: 8px 16px;
    }
}

.q-item .q-item__section--main~.q-item__section--side {
    padding-left: 8px;

    @include mixins.mq(sm) {
        padding-left: 16px;
    }
}

.q-item--clickable .q-item__section .q-btn {
    max-width: 100px;

    @include mixins.mq(sm) {
        max-width: fit-content;
    }
}