@use "../abstracts/mixins";
@use "../abstracts/variables";

html {
    box-sizing: border-box;
    font-size: 62.5%;
    text-size-adjust: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.web-content {
    overflow: hidden;
}

body {
    padding: 0;
    margin: 0;
    position: relative;
    @include mixins.fz(2.2);
    @include mixins.lh(2.2);
    font-weight: variables.$font-normal-weight;
    font-family: variables.$font-family;
    color: variables.$color-text;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    -webkit-user-drag: none;
    -ms-content-zooming: none;
    touch-action: manipulation;

    text-size-adjust: none;
    // user-select: none;
    background-color: #fff;

    @include mixins.mq(md) {
        @include mixins.fz(2.2);
        @include mixins.lh(2.4);
    }
}

//Reset unwanted styles from Quasar
.q-layout .q-page {
    // min-height: auto !important;
}
