@use "../abstracts/mixins";
@use "../abstracts/variables";

// Headings
// -------------------------

h1, .h1{
	font-weight: variables.$font-bold-weight;
	margin: 0 0 12px 0;
	@include mixins.fz(3.6);
	@include mixins.lh(4.2);

	@include mixins.mq(md){
		@include mixins.fz(4.5);
		@include mixins.lh(5.5);
	}

	@include mixins.mq(lg){
		@include mixins.fz(5.6);
		@include mixins.lh(6.5);
	}
}

h2, .h2{
	@include mixins.fz(2.4);
	@include mixins.lh(2.8);
	font-weight: variables.$font-bold-weight;
	margin: 0 0 24px 0;

	@include mixins.mq(md) {
		@include mixins.fz(3);
		@include mixins.lh(3.6);
	}

	@include mixins.mq(lg) {
		@include mixins.fz(3.6);
		@include mixins.lh(4.2);
	}
}

h3, h4, h5, h6,
.h3, .h4, .h5, .h6 {
	font-weight: variables.$font-normal-weight;
	margin: 0 0 12px 0;

	@include mixins.mq(md) {
		margin: 0 0 18px 0;
	}

	@include mixins.mq(lg) {
		margin: 0 0 24px 0;
	}
}

h3, .h3 {
	@include mixins.fz(2);
	@include mixins.lh(2.4);

	@include mixins.mq(md) {
		@include mixins.fz(2.2);
		@include mixins.lh(2.6);
	}

	@include mixins.mq(lg) {
		@include mixins.fz(2.4);
		@include mixins.lh(2.8);
	}
}

h4, .h4 {
	@include mixins.fz(1.8);
	@include mixins.lh(2.2);

	@include mixins.mq(md) {
		@include mixins.fz(2.2);
		@include mixins.lh(2.6);
	}

	@include mixins.mq(lg) {
		@include mixins.fz(2.4);
		@include mixins.lh(2.8);
	}
}

h5, .h5 {
	@include mixins.fz(1.6);
	@include mixins.lh(2);

	@include mixins.mq(md) {
		@include mixins.fz(2);
		@include mixins.lh(2.4);
	}

	@include mixins.mq(lg) {
		@include mixins.fz(2.4);
		@include mixins.lh(2.8);
	}
}

h6, .h6 {
	@include mixins.fz(1.6);
	@include mixins.lh(2);

	@include mixins.mq(md) {
		@include mixins.fz(1.8);
		@include mixins.lh(2.2);
	}

	@include mixins.mq(lg) {
		@include mixins.fz(2);
		@include mixins.lh(2.4);
	}
}


// Body text
// -------------------------
p, li{
	margin: 0 0 12px 0;

	@include mixins.mq(md){
		margin: 0 0 20px 0;
	}

	@include mixins.mq(lg){
		margin: 0 0 24px 0;
	}

	&:last-child{
		margin-bottom: 0;
	}
}

a{
	color: variables.$color-secondary;
	transition: color .3s;
	text-decoration: none;

	@include mixins.on-event {
		color: variables.$color-grey-dark;
		text-decoration: underline;
	}

	&.underlined{
		text-decoration: underline;
	}
}


// Lists
// -------------------------

// Unordered and Ordered lists
ul,
ol {
	margin-top: 0;
	margin-bottom:  32px;
	padding-left: 24px;

	ul,
	ol {
		margin-top: 32px;
		margin-bottom: 0;
	}
}
